@import '../../styles/colors';
.Mycabinet {
  background: $background;
  padding: 40px  20px;
  overflow: hidden;
  .userInfo{
  background-color: $grey;
  border: 2px solid $white;
  padding: 20px;
  margin-bottom: 20px;
  color: $white;
  line-height: 2;
    span{
      float: right;
      &:last-child{
        margin-right: 10px;
      }
    }
  }
  nav {
    display: inline-block;
    width: 20%;
    ul {
      border: 2px solid $error;
      min-width: 150px;
      background-color: $grey;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        position: relative;
        border-bottom: 1px solid #cecece;
        &.left{

            }
        &.right{

        }
        &:last-child{
          border-bottom: none;
        }
        a{
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          text-transform: uppercase;
          &.active {
            background-color: $darkGrey;
            &::after{
              position: absolute;
              right: 0;
              top: 0;
              content: '';
              width: 5px;
              height: 100%;
              border-right: 4px solid $error;
            }
          }
          &:focus {
            background-color: $darkGrey;
            &::after{
              position: absolute;
              right: 0;
              top: 0;
              content: '';
              width: 5px;
              height: 100%;
              border-right: 4px solid $error;
            }
          }
          &:hover{
            background-color: $darkGrey;
          }
        }
      }
    }
  }
  .userContent{
    display: inline-block;
    width: 78%;
    border: 2px solid $error;
    float: right;
    min-height: 250px;
    background: $grey;
  }
}
.activeLink{
  background-color: $darkGrey;
  &::after{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 5px;
    height: 100%;
    border-right: 4px solid $error;
  }
}