@import '../../../styles/colors';
.table{
  width: 80%;
  margin: 20px auto 30px;
  color: $black;
  border: 1px solid $black;
  border-collapse: collapse;
  background-color: $white;
  th{
    border: 1px solid $black;
    padding: 5px;
    &:hover{
      cursor: pointer;
    }
  }
  td{
       border: 1px solid $black;
       padding: 5px;
     }

}