@import '../../styles/colors';
.Charts{
  background-color: $white;
  height: 300px;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
  .chartHeader{
    position: relative;
    background: $error;
    margin-bottom: 10px;
  }
  .chartType{
    border: 2px solid $primary;
    background: $darkGrey;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    height: 110px;
    width: 95px;
    color: $white;
    transition: all 0.6s ease-out;
    input[type="submit"]{
      margin-top: 10px;
      background-color: $primary;
    }
  }
  .toggleView{
    position: relative;
    display: inline-block;
    left: -92px;
    bottom: 10px;
    line-height: 25px;

    text-align: center;
    width: 80px;
    height: 25px;
    background: $primary;
    &:hover{
      cursor: pointer;
    }
  }
}