@import '../../../styles/colors';
.Pagination{
  ul{
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    li{
      position: relative;
      display: block;
      padding: 5px;
      a{
        position: relative;
        display: block;
        padding: 5px 10px;
        margin-left: -1px;
        line-height: 1.25;
        color: $primary;
        background-color: $white;
        border: 1px solid $white;
        border-radius: 5px;
        &:active{
          background-color: $primary;
          color: $white;
        }
        &:focus{
          background-color: $primary;
          color: $white;
        }
        &:hover{
          cursor: pointer;
        }
      }
  }
    }
}