
@import '../../../styles/colors';
.DeleteCategory{
  border: 2px solid $error;
  background: $darkGrey;
  position: absolute;
  right: 0;
  bottom: 5px;
  padding: 10px;
  min-height: 120px;
  width: 180px;
  color: $white;
  transition: all 0.6s ease-out;
  .toggleView{
    position: relative;
    display: inline-block;
    left: -125px;
    bottom: 17px;
    line-height: 25px;
    text-align: center;
    width: 115px;
    height: 25px;
    background: $error;
    &:hover{
      cursor: pointer;
    }
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li{
      border: 1px solid white;
      display: flex;
      padding: 2px;
      margin: 1px 0;
      justify-content: space-between;
    }
  }
    button{
      border: 1px solid #cccccc;
      border-radius: 3px;
      color: $white;
      margin: 0;
      padding: 0 5px;
      text-transform: lowercase;
    }
  h3{
    text-align: center;
  }
  }
