@import '../../../styles/colors';
//.Input{
//  margin-bottom: 15px;
//  label{
//    margin-bottom: 3px;
//    padding: 0;
//    display: block;
//    font-weight: bold;
//  }
//  input{
//    display: block;
//    box-sizing: border-box ;
//    border: 1px solid #bebebe;
//    width: 100%;
//    padding: 7px;
//    margin: 0 0 5px;
//    outline: none;
//    transition: all .3s ease-in-out;
//  }
//  span {
//    color: $red;
//    font-size: 12px;
//    font-weight: bold;
//  }
//  .invalid{
//    color: $red;
//  }
//}
//
.Input{
  margin-bottom: 15px;
  label{
    margin-bottom: 3px;
    padding: 0;
    display: block;
    font-weight: bold;
  }
  input{
    display: block;
    box-sizing: border-box ;
    border: 1px solid #bebebe;
    width: 100%;
    padding: 7px;
    margin: 0 0 5px;
    outline: none;
    transition: all .3s ease-in-out;
  }
  span {
    color: #f01f30;
    font-size: 12px;
    font-weight: bold;
  }
}

.Input.invalid{
  color: #f01f30;
}
