@import '../../styles/colors';
.Header{
  background: $lightGrey;
  //.left{
  //  float: left;
  //}
  //.right{
  //  border: none;
  //  float: right;
  //}
  h1{
    text-align: center;
    margin-top: 0;
  }
  nav {
    ul {
      background-color: $grey;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        border-right: 1px solid $lightGrey;
        &.left{
          float: left;        }
        &.right{
          float: right;
        }
        &:last-child{
          border-left: 1px solid $lightGrey;
        }
        a{
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          text-transform: uppercase;
          &.active {
            background-color: $darkGrey;
          }
          &:hover{
            background-color: $darkGrey;
          }
        }
      }
    }
  }
}
