@import '../../styles/colors';
.Header{
  background: $lightGrey;

  h1{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
  }
  nav {
    display: flex;
    background-color: #979797;
    justify-content: space-between;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        border-right: 1px solid $white;
        &:first-child{
          border-left: 1px solid $white;
        }
        a{
          display: block;
          color: white;
          text-align: center;
          padding: 16px 18px;
          text-decoration: none;
          text-transform: uppercase;
          &.active {
            background-color: $darkGrey;
          }
          &:hover{
            background-color: $darkGrey;
          }
        }
      }
    }
  }
}
